canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.wrapper {
  position: relative;
}

.actions {
  position: absolute;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.3);
  left: 0px;
  z-index: 1;
}

.scene-actions {
  display: flex;
  justify-content: space-between;
}